@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    height: 6px;
    width: 5px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #facc15; /* Yellow color */
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #facc15; /* Light gray background */
  }

  /* Additional customization */
  .scrollbar-thin {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #facc15 #e5e7eb; /* Firefox */
  }
}
